# SL project
## II milestone
### Giuliano Tocilj, Mario Raimo, Cristina Falconi, Silvio Trampetti

# Title: Gender and Feeling recognition through voice tone and intensity

# Data collection & sources:

This pilot dataset shows how our data will be structured: 

Each record is stored in a row of a matrix, which colums are:

-Db: the intensity of sound during the recording of the voice, expressed in decibel, stored in a vector.

-Hz: the pitch of the voice in Hz, also stored in a vector:

-Male: boolean variable, 1 if the speaker is a male, 0 if a female

-Feeling: categorical variable that takes as value one of the 4 feelings we are dealing with

-Person: categorical variable that takes the name of the person speaking, if the speaker is part of the project developers group; otherwise has value "other"

# Software Toolkit/ Update:

While collecting the data we have decided to work on python instead of R because is easier to work with matrix having arrays as elements.

# Model & Methods/ Update:

In order to distinguish through feelings we used the model proposed by Gloria Willcox (see references):

This "Feeling wheel" helps us to associate every feeling to 6 larger group (joyful, powerful, paceful, scared, mad, sad). We used them as labels for the feeling of the speaker we were recording.

Since some feelings was never used in our dataset, or has very low frequency, we merged them together and get 4 labels: sad, happy, angry, steady( when someone is not showing any particoular feeling)

# Problems:

While working we had some problem with the science journal app: even if we saved some labels for each record we took, while esporting the data all the labels get lost.
we menaged that by creating a csv file in which we save te label associated to every record we take with the app. This could be very annoying while working on a big amount of data, so we decided that out final dataset will be smaller that we decided in our I milestone.

# Project Timeline/ Updates:

We expect to finish our project in the first half of june (..we hope earlier!..)

# References/ Update:
https://www.researchgate.net/figure/C-Dr-Gloria-Willcoxs-Feelings-Wheel-9_fig1_303445396

In [1]:
import pandas as pd
import csv

In [2]:
#creating my dataframe
mydata=pd.DataFrame({"Db": [], "Hz": []})

In [3]:
#filling the dataframe with the file from SJapp
#i have all files in the same directory as .py file, they are named progressively with the sintax:
#   PROJECTNAME Registrazione n.csv    with n in [1,2...]

#my project name is sl, so i run a for cycle within the number of record i have and fill my dataframe
for i in range(1,27):
    cmd='pd.read_csv("sl Registrazione '+str(i)+'.csv")' 
    df=eval(cmd)
    Db=df["DecibelSource"].dropna()  #clean from NAs
    Hz=df["PitchSensor"].dropna()
    mydata=mydata.append({'Db' : Db , 'Hz' : Hz} , ignore_index=True)  #write new line with the value found in the CSV

In [4]:
mydata

,Db,Hz
0,0 40.119089 2 38.550490 3 41...,0 33.587952 1 47.094727 2 ...
1,0 43.245461 1 46.627645 2 44...,0 110.634766 4 56.918945 5 ...
2,0 31.463253 1 30.138391 3 37...,0 200.354980 1 200.354980 2 ...
3,0 11.721636 2 11.755092 3 28...,1 0.000000 3 0.000000 5 ...
4,0 32.974978 1 35.094939 3 39.90...,0 118.289388 1 118.289388 2 64...
5,0 28.939335 1 23.381084 2 23.42...,0 0.000000 2 0.000000 4 0...
6,0 24.914227 1 18.161747 3 25.36...,0 544.877930 1 544.877930 2 ...
7,0 16.632054 1 16.199826 3 13.14...,0 57.363281 2 57.363281 5 0...
8,0 26.703106 1 23.028644 2 24.85...,0 405.380859 3 0.000000 5 ...
9,0 15.314789 1 11.760913 2 50.36...,0 0.000000 1 0.000000 3 240...
10,0 30.891984 1 25.538830 2 47.66...,0 211.950335 1 211.950335 3 ...
11,0 41.649177 1 41.605586 2 44.29...,0 117.121094 1 170.359375 2 ...
12,0 49.783905 1 49.783905 2 50.55...,2 79.599609 3 79.599609 4 45...
13,0 43.355582 1 51.105695 2 48.54...,0 440.351562 1 517.839844 2 ...
14,0 56.268914 1 56.288822 2 58.43...,0 100.434570 2 47.446289 3 49...
15,0 19.453184 1 18.038502 2 16...,1 0.000000 3 0.000000 5 ...
16,0 55.108600 2 51.864689 3 51...,0 291.097548 1 331.631226 2 ...
17,0 42.121621 1 43.921944 3 42.26...,2 152.613464 3 152.613464 4 152...
18,0 18.533753 1 19.354021 2 24.65...,0 209.192023 2 0.000000 4 0...
19,0 15.439696 1 19.230612 2 19.30...,0 0.000000 2 0.000000 4 ...
20,0 19.453184 1 18.038502 2 16...,1 0.000000 3 0.000000 5 ...
21,0 51.509708 1 49.206464 2 53...,0 83.540405 1 83.540405 2 ...
22,0 15.318119 1 15.571770 3 15.79...,2 0.000000 4 0.000000 6 0...
23,0 31.236932 1 26.150167 3 36.68...,2 0.000000 5 125.932007 6 125...
24,0 29.527381 2 27.660101 3 25...,0 268.540039 1 230.942383 2 ...
25,0 33.119447 1 28.733595 3 33.64...,2 419.116211 3 419.116211 4 ...

We want to structure our data by having a column for each variable we are going to record, that are sound intensity (Db) and pitch (Hz);
Since for each record we have a set of values, we store them into an array, so that a single row represent a single recording session, and contains all the information we need.

In [5]:
#now i read the csv with the labels associated to my dataframe
labels=pd.read_csv("labels.csv", sep=";")

In [6]:
labels

    Male Feeling    Person
0      1   happy  giuliano
1      1   angry  giuliano
2      1   angry     other
3      1     sad  giuliano
4      1   happy  giuliano
5      0   happy     other
6      1     sad     other
7      0  steady     other
8      1  steady     mario
9      0  steady     other
10     0  steady  cristina
11     0  steady     other
12     0  steady  cristina
13     1   angry     other
14     1  steady     other
15     0   angry     other
16     0   happy     other
17     0   happy     other
18     0   happy     other
19     0  steady     other
20     0     sad     other
21     1   angry     other
22     1   happy     other
23     1   happy     other
24     1  steady     other
25     1     sad     other

For each record in the science journal app we had set 3 labels to every record:

-Male, a boolean variable that has value 1 if the person that were speaking is a male, 0 if female;

-Feeling, categorical variable with the value of the feeling that the speaker has during the record;

-Person, categorical variable with the name of the project developer that was speaking (if the speaker is not part of the group the value will be "other"). We will use this value to let the model distinguish the difference of voice tone and intensity through different speakers.

In [7]:
#let's concatenate the two tables
result = pd.concat([mydata, labels], axis=1, sort=False)

In [8]:
result

,Db,Hz,Male,Feeling,Person
0,0 40.119089 2 38.550490 3 41...,0 33.587952 1 47.094727 2 ...,1,happy,giuliano
1,0 43.245461 1 46.627645 2 44...,0 110.634766 4 56.918945 5 ...,1,angry,giuliano
2,0 31.463253 1 30.138391 3 37...,0 200.354980 1 200.354980 2 ...,1,angry,other
3,0 11.721636 2 11.755092 3 28...,1 0.000000 3 0.000000 5 ...,1,sad,giuliano
4,0 32.974978 1 35.094939 3 39.90...,0 118.289388 1 118.289388 2 64...,1,happy,giuliano
5,0 28.939335 1 23.381084 2 23.42...,0 0.000000 2 0.000000 4 0...,0,happy,other
6,0 24.914227 1 18.161747 3 25.36...,0 544.877930 1 544.877930 2 ...,1,sad,other
7,0 16.632054 1 16.199826 3 13.14...,0 57.363281 2 57.363281 5 0...,0,steady,other
8,0 26.703106 1 23.028644 2 24.85...,0 405.380859 3 0.000000 5 ...,1,steady,mario
9,0 15.314789 1 11.760913 2 50.36...,0 0.000000 1 0.000000 3 240...,0,steady,other
10,0 30.891984 1 25.538830 2 47.66...,0 211.950335 1 211.950335 3 ...,0,steady,cristina
11,0 41.649177 1 41.605586 2 44.29...,0 117.121094 1 170.359375 2 ...,0,steady,other
12,0 49.783905 1 49.783905 2 50.55...,2 79.599609 3 79.599609 4 45...,0,steady,cristina
13,0 43.355582 1 51.105695 2 48.54...,0 440.351562 1 517.839844 2 ...,1,angry,other
14,0 56.268914 1 56.288822 2 58.43...,0 100.434570 2 47.446289 3 49...,1,steady,other
15,0 19.453184 1 18.038502 2 16...,1 0.000000 3 0.000000 5 ...,0,angry,other
16,0 55.108600 2 51.864689 3 51...,0 291.097548 1 331.631226 2 ...,0,happy,other
17,0 42.121621 1 43.921944 3 42.26...,2 152.613464 3 152.613464 4 152...,0,happy,other
18,0 18.533753 1 19.354021 2 24.65...,0 209.192023 2 0.000000 4 0...,0,happy,other
19,0 15.439696 1 19.230612 2 19.30...,0 0.000000 2 0.000000 4 ...,0,steady,other
20,0 19.453184 1 18.038502 2 16...,1 0.000000 3 0.000000 5 ...,0,sad,other
21,0 51.509708 1 49.206464 2 53...,0 83.540405 1 83.540405 2 ...,1,angry,other
22,0 15.318119 1 15.571770 3 15.79...,2 0.000000 4 0.000000 6 0...,1,happy,other
23,0 31.236932 1 26.150167 3 36.68...,2 0.000000 5 125.932007 6 125...,1,happy,other
24,0 29.527381 2 27.660101 3 25...,0 268.540039 1 230.942383 2 ...,1,steady,other
25,0 33.119447 1 28.733595 3 33.64...,2 419.116211 3 419.116211 4 ...,1,sad,other

In [9]:
result.to_csv(r'myfile.csv',index=False)

# Regression

In [10]:
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns

In [49]:
#selecting only male and female to study their properties
male=result.loc[result["Male"]==1]
male=male.reset_index(drop=True)  #setting new indexes for the new DF
female=result.loc[result["Male"]==0]
female=female.reset_index(drop=True)

In [68]:
##let's see how the means differs
somma=0
for i in range(len(male)):
    somma+=(male["Db"][i].mean())
print("mean for DB in male is "+str(round(somma/(len(male)+1),2)))

somma=0
for i in range(len(male)):
    somma+=(male["Hz"][i].mean())
print("mean for HZ in male is " + str(round(somma/(len(male)+1),2)))

##now for female..
somma=0
for i in range(len(female)):
    somma+=(female["Db"][i].mean())
print("mean for DB in female is "+str(round(somma/(len(female)+1),2)))

somma=0
for i in range(len(female)):
    somma+=(female["Hz"][i].mean())
print("mean for HZ in female is " +str(round(somma/(len(female)+1),2)))

mean for DB in male is 39.6
mean for HZ in male is 210.05
mean for DB in female is 37.45
mean for HZ in female is 250.76